/* Global Layout Set-up */
* {
  box-sizing: border-box;
  }
header {
  margin-top: 2em;
}
.top-name {
  margin:.75em;
  font-weight: 500;
  font-size: 2em;
  text-align:center;
  color: #008000;
}
a {
  text-decoration: none;
  font-size: 1.1em;
}
ul {
  list-style-type: none;
}
.top-nav {
  display:flex;
  flex-wrap: wrap;
  flex-flow: column;
  padding:0;
  font-weight: 500;
}
li {
margin:.1em 1em;
  padding:.3em;
  background-color: #ffffff;
  border: solid 2px #f7f7f7;
  text-align: center;
}
#tag-name {
  text-align: center;
  }
body {
  margin: 0;
  padding: .5em;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background:#f7f7f7;
}
p {
  text-align: center;
}
.p {
  margin: 1em;
  font-weight: lighter;
  text-align: center;
}
.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 75%;
}
img {
  padding: .75em;
  width: 95%;
}
h1 {
   font-size: 1.5em;
   font-weight: 500;
   margin:1.25em;
   text-align: center;
 }
.h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}
.main {
  display:flex;
  flex-wrap: wrap;
  margin:.1em 0em;
  background-color: #ffffff;
}
strong {
  font-weight: 500;
}
nav {
  margin:1em;
}
.footer-nav {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding:1em;
  font-weight: 500;
  border-top: solid .5px #b3b3b3;
}
.back-to-top {
  align-self: flex-end;
}
.bottom-nav {
  display: none;
}
 @media screen and (min-width:768px) {
   .top-nav {
     display:flex;
     flex-direction: row;
     justify-content: center;
     margin: 0;
   }
li {
  background-color:#f7f7f7;
}
.profile-start {
  display: flex;
  flex-direction: row;
}
.profile-image {
  order: 2
}
#tag-name {
  display: flex;
  align-items: center;
  }
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column {
    width: 50%;
  }
.last-link {
  display: none;
}
.back-to-top {
  display: none;
}
.last-name {
  display: flex;
  align-items: center;
}
.bottom-nav {
  display: flex;
  padding: 0;
}
}
@media screen and (min-width:1024px) {

.start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column {
  width: 30%;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
}
#tag-name {
  display: flex;
  align-self: center;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.6;
  flex-shrink: 2;
  }
  .profile-start {
    margin:30px;
  }
  .profile-image {
    width: 70%;
  }
}
